
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网上下单</title>
    <link href="~/Content/MT/XiaDan.css" rel="stylesheet" />
    <script src="~/script/bootstrap-3.3.7-dist/jquery-3.3.1.js"></script>

    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/script/MT/City/city.json.js"></script>
    <script src="~/script/MT/City/citySet.js"></script>
    <script src="~/script/MT/City/Popt.js"></script>
   <link href="~/Content/MT/tubiao.css" rel="stylesheet" />
   <style type="text/css">
       .aicon-circle-check:before {
           content: url("../../image/MT/black.png")
       }

   .aicon-circle-check1:before { content: url("../../image/MT/red.png"); }
     
   </style>
    <script type="text/javascript">
        $(function () {
            $(".city").click(function (e) {
                 SelCity(this, e);
            });
         
        })

    </script>
</head>
<body>
    @Html.Partial("Esubaohead")
    <div id="app">
        <nav class="dynamic-nav-bar">
            <a href="/Order/OnlineOrder" class="active">我要寄件</a>
            <a href="/Logisticstracking/Logisticstrakcing">运单追踪</a>
            <a href="/Logisticstracking/PriceTime">服务支持</a>
        </nav>
        <div class="dynamic_content_wrapper">
            <div class="dynamic_content">
                <div id="function">
                    <div class="order-page">
                        <div class="order-service ui-front">
                            <div class="receiver-areas" role="radiogroup">
                                <a href="javascript:void(0)" class="heavyCargo checked" role="radio" data-tab="heavyCargo" aria-checked="true">网上下单</a>
                                <a href="/Order/bulkOrder" class="normalCargo" role="radio" data-tab="normalCargo" aria-checked="false">批量下单</a>

                            </div>
                            <div class="order-wrapper clearfix" v-show="jkj=='xia'">
                                <div class="heavy-cargo-wrapper">

                                    <img class="banner" src="~/image/help_banner .jpg" style="border-radius:3px;margin-top:6px;" />

                                    <div class="sender-wrapper">
                                        <form class="form-horizontal" novalidate="novalidate">
                                            <div class="intellect-warm-reminder">请检查拆分地址信息是否准确，如有遗漏请及时补充</div>
                                            <div class="sftitle">
                                                寄方信息<span class="small">标 * 为必填项</span>
                                                <a href="javascript:void(0)" class="aicon-intellect-address addIntellectFill">智能地址填写</a>
                                                <a href="javascript:void(0)" class="aicon-address-book address-book" data-toggle="modal" data-target="#AdressBu">使用地址簿</a>
                                                <a href="/Logisticstracking/PriceTime" target="_blank" class="aicon-calculator">价格计算</a>
                                            </div>
                                            <p class="warm-reminder"></p>
                                            <div class="form-group">
                                                <div class="col-xs-5 autoAddPicker">
                                                    <label class="control-label required" for="contactName">姓名</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="contactName" placeholder="请填写联系人姓名" autocomplete="off" v-model="Fahuo.fa_name">
                                                </div>
                                                <div class="col-xs-5 col-xs-offset-2 autoAddPicker">
                                                    <label class="control-label" for="companyName">公司名称</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="companyName" placeholder="请填写公司名称" autocomplete="off" v-model="Fahuo.fa_company">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-5 autoAddPicker">
                                                    <label class="control-label" for="contactTel">手机号码</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="contactTel" placeholder="请填写手机号码" autocomplete="off" v-model="Fahuo.fa_Mobilephone">
                                                </div>
                                                <div class="col-xs-5 col-xs-offset-2">
                                                    <label class="control-label" for="contactPhone">固话</label>
                                                    <input type="text" class="form-control" name="contactPhone" placeholder="请填写固话号码" v-model="Fahuo.fa_Fixednumber">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="control-label required" for="location">省市区</label>
                                                    <div class="detail-location-input" data-max-level="4" data-hide-globe="true" data-hide-hkmctw="true">
                                                        <input type="text" class="form-control origins ui-autocomplete-input " name="location" placeholder="请选择所在地区，例如：广东省－深圳市－福田区" autocomplete="off" v-model="Fahuo.fa_city">

                                                    </div>
                                                </div>
                                                <a class="getNearbyAddress aicon-location maidian " data-md-name="点击省市区后地标" data-md-id="OWF010103" href="javascript:void(0)"></a>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="control-label required" for="address">详细地址</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="address" placeholder="请填写所在街道以及详细地址" autocomplete="off" v-model="Fahuo.fa_Detailedaddress">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="receiver-wrapper">
                                        <form class="form-horizontal" novalidate="novalidate">
                                            <div class="intellect-warm-reminder">请检查拆分地址信息是否准确，如有遗漏请及时补充</div>
                                            <div class="sftitle">
                                                收方信息
                                                <span class="small">标 * 为必填项</span>
                                                <a href="javascript:void(0)" class="aicon-intellect-address addIntellectFill">智能地址填写</a>
                                                <a href="javascript:void(0)" class="aicon-address-book address-book" data-toggle="modal" data-target="#AdressBu">使用地址簿</a>
                                            </div>
                                            <p class="warm-reminder"></p>
                                            <div class="form-group">
                                                <div class="col-xs-5 autoAddPicker">
                                                    <label class="control-label required" for="contactName">姓名</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="contactName" placeholder="请填写联系人姓名" autocomplete="off" v-model="Shouhuo.shou_name">
                                                </div>
                                                <div class="col-xs-5 col-xs-offset-2 autoAddPicker">
                                                    <label class="control-label" for="companyName">公司名称</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="companyName" placeholder="请填写公司名称" autocomplete="off" v-model="Shouhuo.shou_company">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-5 autoAddPicker">
                                                    <label class="control-label" for="contactTel">手机号码</label>
                                                    <input type="text" class="form-control ui-autocomplete-input" name="contactTel" placeholder="请填写手机号码" autocomplete="off" v-model="Shouhuo.shou_Mobilephone">
                                                </div>
                                                <div class="col-xs-5 col-xs-offset-2">
                                                    <label class="control-label" for="contactPhone">固话</label>
                                                    <input type="text" class="form-control" name="contactPhone" placeholder="请填写固话号码" v-model="Shouhuo.shou_Fixednumber">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="control-label required" for="location">省市区</label>
                                                    <div class="detail-location-input" data-max-level="4" data-hide-globe="true" data-hide-hkmctw="true">
                                                        <input type="text" class="form-control dests " name="location" placeholder="请选择所在地区，例如：广东省－深圳市－福田区" autocomplete="off" v-model="Shouhuo.shou_city">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="control-label required" for="address">详细地址</label>
                                                    <input type="text" class="form-control " name="address" placeholder="请填写所在街道以及详细地址" autocomplete="off" v-model="Shouhuo.shou_Detailedaddress">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">

                                        <a href="javascript:void(0)" class="aicon-circle-check save-address-check maidian fr " data-md-name="点击收件人保存到地址簿" data-md-id="111007">保存到地址簿</a>
                                    </div>
                                    <div class="text-center">

                                        <a href="javascript:void(0)" :class="aicon_circle_check" id="agree-term-content" @@click="aiconCircleCheck()">我同意</a>
                                        <a class="term" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">《电子运单契约条款》</a>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="primary-btn submit-order big " @@click="XiaDan()">下单</button>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-succ" v-show="jkj=='chenggong'">
                                <div class="order-success">
                                    <h3>下单成功！</h3>
                                    <button class="primary-btn white small fr cancel" data-toggle="modal" data-target="#Quequ">
                                        <span class="aicon-bs-refused"></span>取消寄件


                                    </button>
                                    <p class="certificate-prompt">
                                        下单后可打印电子运单二维码，向收派员或到顺丰服务点出示二维码，扫码后快速寄件
                                    </p>
                                    <p class="certificate-prompt">
                                        温馨提示：根据《中华人民共和国反恐怖主义法》《邮件快件实名收寄管理办法》相关要求，
                                        寄件时需出示身份证等有效身份证件进行实名登记，请勿寄递禁寄物品，谢谢配合；
                                    </p>
                                    <div class="sfcard pad">
                                        <table class="sender-table">
                                            <tbody>
                                                <tr>
                                                    <td class="send-badge">
                                                        <span class="sfbadge black">寄</span>
                                                        <span class="aicon-v-dot"></span>
                                                    </td>
                                                    <td class="express-info">
                                                        <p class="bold">{{Fahuo.fa_name}}</p>
                                                        <p>{{Fahuo.fa_Mobilephone}}</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <p>{{Fahuo.fa_city}}</p>
                                                        <p>{{Fahuo.fa_Detailedaddress}}</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="line"></p>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="sfbadge red">收</span>
                                                    </td>
                                                    <td class="express-info">
                                                        <p class="bold">{{Shouhuo.shou_name}}</p>
                                                        <p>{{Shouhuo.shou_Mobilephone}}</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <p>{{Shouhuo.shou_city}}</p>
                                                        <p>{{Shouhuo.shou_Detailedaddress}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="3">
                                                        <p>预约号：{{Express_number}}</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul class="bill-other-info">
                                            <li>
                                                <p class="gray">托寄物品信息</p>
                                                <p>文件</p>
                                            </li>
                                            <li>
                                                <p class="gray">付款方式</p><p>寄付现结</p>
                                            </li>
                                            <li>
                                                <p class="gray">保价</p>
                                                <p>未选择保价</p>
                                            </li>
                                            <li>
                                                <p class="gray">增值服务</p>
                                                <p>无</p>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="clearfix options">
                                        <a href="../../../../sc/dynamic_function/waybill/" class="primary-btn white square fl go-waybill maidian" data-md-id="OWF010402" data-md-name="点击查看订单列表">
                                            <span class="aicon-intellect-address"></span>查看订单列表
                                        </a>
                                        <button class="primary-btn white square fl download maidian" data-md-id="OWF010403" data-md-name="点击下载电子运单">
                                            <span class="aicon-i-down"></span>下载电子运单
                                        </button>
                                        <a href="/Home_page/home_page" class="primary-btn big fill-bill fr maidian" data-md-id="OWF010405" data-md-name="点击收件人后完善快件信息按钮">确定</a>
                                    </div>
                                </div>

                            </div>
                            @*确认取消*@
                            @Html.Partial("Quequ")

                        </div>

                    </div>
                </div>

            </div>

        </div>
        @*电子运单契约条款*@
        @Html.Partial("Order_Terms")
        @*地址簿*@
        @Html.Partial("AdressBook")
        @Html.Partial("Esubaofool")

    </div>
    <script src="~/script/vue.min.js"></script>

    <script src="~/script/vue-resource-1.3.4.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: {
                jkj:"xia",
                aicon_circle_check: "aicon-circle-check",//我同意之前和保存到地址簿的图标样式
                Express_number:"",
                Fahuo: {
                fa_name: "",//发货人姓名
                fa_company: "", //发货人公司
                fa_Mobilephone: "",//发货人手机号
                fa_Fixednumber: "",//发货人固定号码
                fa_city: "",//发货人城市
                 fa_Detailedaddress: "",//发货人详细地址
                },
                Shouhuo: {
                shou_name: "",//收货人姓名
                shou_company: "",//收货人公司
                shou_Mobilephone: "",//收货人手机号
                shou_Fixednumber: "",//收货人固定号码
                shou_city: "",//收货人城市
                shou_Detailedaddress: ""//收货人详细地址
                }

            },
            methods: {
                aiconCircleCheck() {
                    this.aicon_circle_check == 'aicon-circle-check' ? this.aicon_circle_check = 'aicon-circle-check1' : this.aicon_circle_check = 'aicon-circle-check';
                },
                XiaDan() {
                    if (this.aicon_circle_check == 'aicon-circle-check') {
                        alert("请同意《电子运单契约条款》");
                    }
                    else {
                        this.$http.post('/Order/XiaDan', {
                            OOnsignor: this.Fahuo.fa_name,
                            mobile: this.Fahuo.fa_Mobilephone,
                            phone: this.Fahuo.fa_Fixednumber,
                            City: this.Fahuo.fa_city,
                            Corporate_name: this.Fahuo.fa_company,
                            Shipping_outlets: this.Fahuo.fa_Detailedaddress,
                            Delivery_Express: "圆通快递"
                        }, {
                                Consignoee: this.Shouhuo.shou_name,
                                mobile: this.Shouhuo.shou_Detailedaddress,
                                phone: this.Shouhuo.shou_Fixednumber,
                                Corporate_name: this.Shouhuo.shou_company,
                                city_adddress: this.Shouhuo.shou_city,
                                Address: this.Shouhuo.shou_Detailedaddress
                            }).then(res => {
                                // 响应成功回调
                                if (res.body != null) {
                                    
                                    this.Express_number = res.body;
                                 
                                    this.jkj = "chenggong";
                                };
                               
                      })
                           

                    }
                }
            }

        })
    </script>
</body>

</html>
